/* DEFAULTS
----------------------------------------------------------*/

body {
    background: #3783b5;
    font-size: .80em;
    font-family: 'Trebuchet MS' , 'Lucida Sans Unicode' , 'Lucida Grande' , 'Lucida Sans' , Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

a:link, a:visited {
    color: #034af3;
}

a:hover {
    color:#1d60ff ;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000000;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    color: #000000;
}

h2 {
    font-size: xx-large;
    font-weight: 600;
    text-align: center;
    color: #CE0201;
}

h3 {
    font-size: 1.2em;
    
}

h4
{
    font-size: 1.1em;
    
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header {
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #1A748F;
    width: 100%;
    top: 0px;
    left: 0px;
}

.header h1 {
    font-weight: 600;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    color: #F9F810;
    border: none;
    line-height: 2em;
    font-size: xx-large;
    text-align: center;
    width: 100%;
}

.main {
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
    width: 926px;
    background-color: #F7F7F7;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink {
    background-color: #F9F810;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;

}

div.menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    color: #CC00CC;
}

div.menu ul li a, div.menu ul li a:visited {
    background-color: #ff5e70;
    border: 1px #ff5e70 solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #CE0201;
    color: #ffffff;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #CE0201;
    color: #ffffff;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear {
    clear: both;
    text-align: center;
}

.title {
    padding: 0px;
    display: block;
    text-align: center;
    width: 100%;
    float: left;
    background-color: #1a748f;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold {
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}